{% extends 'analytic_app/base.html' %}

{% block title %}Рентабельность {% endblock %}

{% block content %}
<h1>Рентабельность</h1>
{% if chart_image %}
<p>График, отображающий динамику рентабельности булочной по времени.</p>
<p>Позволит оценить, насколько эффективно используются ресурсы и как меняется прибыльность бизнеса.</p>
<div class="main">
    <div class="content">
        <h1>Изменение рентабельности помесячно за {{ selected_year }} год</h1>
        <img src="{{ chart_image }}" alt="График продаж">
    </div>
</div>
{% else %}
<form method="post">
    {% csrf_token %}
    <h1>Выберите год и филиал пекарни для построения графика рентабельности </h1>
    {{ form.as_p }}
    <button type="submit">Показать график</button>
</form>
{% endif %}

{% endblock %}